openapi: 3.0.3
info:
  title: Promotions Digital Enablement API
  description: Mastercard Promotions Digital Enablement APIs provide issuers, merchants and loyalty program operators the ability to enhance their digital consumer experience when driving usage and engagement with Mastercard Loyalty Promotions.
  termsOfService: https://developer.mastercard.com/terms-of-use
  contact:
    name: API Support
    url: 'https://developer.mastercard.com/support'
    email: apisupport@mastercard.com
  version: 1.1.0
servers:
  - url: https://api.mastercard.com/loyalty/rewards
    description: Production API
  - url: https://sandbox.api.mastercard.com/loyalty/rewards
    description: Sandbox API
tags:
  - name: Account Management
    description: Allow to retrieve an account's information using account number.
  - name: Promotion Management
    description: The API will return the list of promotions based on the request parameters provided.
  - name: Promotion Progress
    description: The API returns information that represents key data points necessary to track the progression towards promotion or audience goals for earnings rewards.
  - name: Transactions
    description: Provides clients with the ability to get transaction data related to a specific promotion so that the client can show the cardholders transactions that made up the rewards they have earned. The identifiers for a given promotion would be account identifiers.
  - name: Audiences
    description: Provides clients with the ability to get the promotion details of a specific cardholder or enroll to a specific promotions for a specific time periods.
paths:
  /accounts/searches:
    post:
      tags:
        - Account Management
      summary: Provides clients the ability to search and retrieve an account's information.
      description: This endpoint provides clients with the ability to search and retrieve an account's information using the combination of account number and company id or member ica.
      operationId: searchAccount
      x-mastercard-api-encrypted: true
      parameters:
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      requestBody:
        $ref: '#/components/requestBodies/AccountSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResponseOkSearchAccount'
        '400':
          $ref: '#/components/responses/ResponseSearchAccountBadRequest'
        '401':
          $ref: '#/components/responses/ResponseUnauthorized'
  /promotions:
    get:
      tags:
        - Promotion Management
      summary: Provides clients the ability to retrieve list of promotions based on the request parameters provided.
      description: This endpoint provides clients with the ability to retrieve all active promotions using the company id, program id, and/or account id.
      operationId: getPromotionsUsingGET
      parameters:
        - $ref: '#/components/parameters/RewardsCompanyId'
        - $ref: '#/components/parameters/ProgramId'
        - $ref: '#/components/parameters/PromotionId'
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/PromotionState'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          $ref: '#/components/responses/ActivePromotion'
        '400':
          $ref: '#/components/responses/ResponsePromotionsBadRequest'
        '401':
          $ref: '#/components/responses/ResponsePromotionsUnauthorized'
        '403':
          $ref: '#/components/responses/ResponsePromotionsForbidden'
  /promotions/{promotion_id}/details:
    get:
      tags:
        - Promotion Management
      summary: Provides clients the ability to retrieve promotion details of particular promotion id.
      description: This endpoint provides clients with the ability to retrieve promotion details using the promotion id.
      operationId: getPromotionDetailsUsingGET
      parameters:
        - $ref: '#/components/parameters/PromotionIdPathParam'
        - $ref: '#/components/parameters/include_audience'
      responses:
        '200':
          $ref: '#/components/responses/PromotionDetail'
        '400':
          $ref: '#/components/responses/ResponsePromotionsBadRequest'
        '401':
          $ref: '#/components/responses/ResponsePromotionsUnauthorized'
        '403':
          $ref: '#/components/responses/ResponsePromotionsForbidden'
  /promotion-activations:
    post:
      tags:
        - Promotion Management
      summary: Provides clients the ability to opt accounts in to and out of a specific promotion.
      description: This endpoint provides clients with the ability to opt accounts in to and out of a specific promotion using the unique identifier of the account and promotion.
      operationId: promotionOptInUsingPOST
      requestBody:
        $ref: "#/components/requestBodies/PromotionOptInRequest"
      responses:
        '201':
          $ref: '#/components/responses/Activated'
        '400':
          $ref: '#/components/responses/ResponsePromotionsBadRequest'
        '401':
          $ref: '#/components/responses/ResponsePromotionsUnauthorized'
        '403':
          $ref: '#/components/responses/ResponsePromotionsForbidden'
  /promotion-progresses:
    get:
      tags:
        - Promotion Progress
      summary: Provides clients the ability to retrieve promotion or audience progress data.
      description: This endpoint provides clients with the ability to retrieve reward progress data using household id or user id, account_id and/or promotion id or audience id.
      operationId: retrieveUsingGET
      parameters:
        - $ref: '#/components/parameters/HouseholdIdParam'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/UserIdParam'
        - $ref: '#/components/parameters/PromotionIdParam'
        - $ref: '#/components/parameters/IncludeHistoryParam'
      responses:
        '200':
          $ref: '#/components/responses/ResponseOkPromotion'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '401':
          $ref: '#/components/responses/ResponseUnauthorizedError'
        '403':
          $ref: '#/components/responses/ResponseForbidden'
        '404':
          $ref: '#/components/responses/ResponseNotFound'
  /transactions:
    get:
      tags:
        - Transactions
      summary: Provides clients the ability to retrieve transaction data.
      description: This endpoint provides clients with the ability to retrieve transaction data related to a specific promotion.
      operationId: getTransactionsUsingGET
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
        - $ref: '#/components/parameters/PromotionIdParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          $ref: '#/components/responses/ResponseOkTransaction'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '401':
          $ref: '#/components/responses/ResponseUnauthorizedError'
        '403':
          $ref: '#/components/responses/ResponseForbidden'
        '404':
          $ref: '#/components/responses/ResponseNotFound'
  /events:
    post:
      tags:
        - Events
      description: This API endpoint is used to add an eligibility period (begin and end datetime) for the cardholder either account or household (A/H - represented by the entityId) into the audience (represented by the code). It will return the unique id associated with the code, entityId and beginDateTime.
      operationId: createEvents
      summary: Provides clients the ability to create an events entity
      requestBody:
        $ref: '#/components/requestBodies/Event'
      responses:
        '200':
          $ref: '#/components/responses/ResponseEventCreated'
        '400':
          $ref: '#/components/responses/ResponseEventBadRequest'
        '403':
          $ref: '#/components/responses/ResponseEventForbidden'
    get:
      tags:
        - Events
      summary: Provides clients the ability to retrieve events data.
      description: This endpoint provides clients with the ability to retrieve events data related to a specific promotion.
      operationId: getEvents
      parameters:
        - $ref: '#/components/parameters/HouseholdIdParam'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
        - $ref: '#/components/parameters/PromotionIdParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          $ref: '#/components/responses/ResponseOkEvent'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '401':
          $ref: '#/components/responses/ResponseUnauthorizedError'
        '403':
          $ref: '#/components/responses/ResponseForbidden'
        '404':
          $ref: '#/components/responses/ResponseNotFound'
  /audiences:
    post:
      tags:
        - Audiences
      description: This API endpoint is used to add an eligibility period (begin and end datetime) for the cardholder either account or household (A/H - represented by the entityId) into the audience (represented by the code). It will return the unique id associated with the code, entityId and beginDateTime.
      operationId: createAudiences
      summary: Provides clients the ability to create an audience entity
      requestBody:
        $ref: '#/components/requestBodies/Audience'
      responses:
        '201':
          $ref: '#/components/responses/ResponseAudienceCreated'
        '400':
          $ref: '#/components/responses/ResponseAudienceBadRequest'
        '401':
          $ref: '#/components/responses/ResponseAudienceUnauthorized'
        '403':
          $ref: '#/components/responses/ResponseAudienceForbidden'
    get:
      tags:
        - Audiences
      description: Retrieve audiences by passing the entityType (A or H) and entityId (account id or household id) to get the history of eligibility periods for all the audiences (represented by the code). Only audiences that the entityId has been added to will be returned.
      operationId: getAudiences
      summary: Provides clients the ability to fetch the audiences
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/entity_type'
        - $ref: '#/components/parameters/code'
        - $ref: '#/components/parameters/include_history'
        - $ref: '#/components/parameters/from_date_time'
        - $ref: '#/components/parameters/to_date_time'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          $ref: '#/components/responses/ResponsePagedResponseAudience'
        '400':
          $ref: '#/components/responses/ResponseAudienceBadRequest'
        '401':
          $ref: '#/components/responses/ResponseAudienceUnauthorized'
        '403':
          $ref: '#/components/responses/ResponseAudienceForbidden'
  /audiences/{id}:
    put:
      tags:
        - Audiences
      description: This API endpoint is used to end the eligibility period for a given audienceId (represents a code, entityType, entityId, beginDateTime combination) by passing the new endDateTime.
      operationId: updateAudiences
      summary: Provides clients the ability to update the audience entity
      parameters:
        - $ref: '#/components/parameters/ref_id'
      requestBody:
        $ref: '#/components/requestBodies/AudienceUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ResponseAudience'
        '400':
          $ref: '#/components/responses/ResponseAudienceBadRequest'
        '401':
          $ref: '#/components/responses/ResponseAudienceUnauthorized'
        '403':
          $ref: '#/components/responses/ResponseAudienceForbidden'
    delete:
      tags:
        - Audiences
      description: This API endpoint is used to delete the audience entity.
      operationId: deleteAudiences
      summary: Provides clients the ability to delete the audience entity
      parameters:
        - $ref: '#/components/parameters/ref_id'
      responses:
        '204':
          $ref: '#/components/responses/ResponseAudienceDeleted'
        '400':
          $ref: '#/components/responses/ResponseAudienceIdNotFound'
        '401':
          $ref: '#/components/responses/ResponseAudienceUnauthorized'
        '403':
          $ref: '#/components/responses/ResponseAudienceForbidden'

components:
  requestBodies:
    AccountSearchRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountSearch'
    PromotionOptInRequest:
      description: Provides clients with the ability to opt accounts in to and out of a specific promotion using the unique identifier of the account and promotion
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/OptIn"
    Event:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Event'
    Audience:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Audience'
    AudienceUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AudienceUpdate'
  parameters:
    FromDateParam:
      name: from_date
      in: query
      description: Start date from which the client want to view the transactions
      schema:
        type: string
        example: 2023-01-01
    ToDateParam:
      name: to_date
      in: query
      description: End date till which the client want to view the transactions
      schema:
        type: string
        example: 2024-01-01
    OffsetParam:
      name: offset
      in: query
      description: The number of items to offset the start of the list from (Pagination)
      schema:
        type: integer
        format: int32
        example: 0
        default: 0
    LimitParam:
      name: limit
      in: query
      description: Can be used to limit the amount of results returned from a query (Pagination)
      schema:
        type: integer
        format: int32
        example: 25
        default: 25
    HouseholdIdParam:
      name: household_id
      in: query
      description: Unique Household identifier assigned by Mastercard and provided during the account enrollment and household creation process.
      required: false
      schema:
        type: string
        example: "ad1e21a7-4c1c-4812-ae47-d2c4fae7c5a8"
    AccountIdParam:
      name: account_id
      in: query
      description: Unique Account identifier assigned by Mastercard and provided in the Account enrollment response
      required: false
      schema:
        type: string
        example: "f35e51fe-bc77-432f-b412-3800e3c04e5c"
    UserIdParam:
      name: user_id
      in: query
      description: Unique User identifier assigned by Mastercard and provided in the User creation process.
      required: false
      schema:
        type: string
        example: "62087a7f-4215-4bfc-b3ee-cc12f085efc5"
    PromotionIdParam:
      name: promotion_id
      in: query
      description: The unique identifier of the Promotion or Audience created and assigned by Mastercard during promotion or audience creation process.
      schema:
        type: string
        example: "2aee0729-3a1a-451a-affa-84f3a6bc5acc"
    IncludeHistoryParam:
      name: include_history
      in: query
      description: Boolean value which provides history of reward progress data
      schema:
        type: boolean
        example: true
        default: false
    RewardsCompanyId:
      name: rewards_company_id
      in: query
      description: Mastercard assigned unique identifier for a client. Created and assigned during company creation process
      example: "383a74b4-38b3-4f2a-a85d-6b2e26ad665"
      schema:
        type: string
    ProgramId:
      name: program_id
      in: query
      description: Unique Program Identifier for a client promotion, available from promotion setup
      example: "aae5ce99-58d1-47f4-8b6a-43b427be9d74"
      schema:
        type: string
    PromotionId:
      name: promotion_id
      in: query
      description: Unique Promotion Identifier for a client reward program, available from promotion setup
      example: "de0e1456-e678-4270-b027-fc9950b8aba5"
      schema:
        type: string
    PromotionIdPathParam:
      name: promotion_id
      in: path
      description: Unique Promotion Identifier for a client reward program, available from promotion setup
      example: "de0e1456-e678-4270-b027-fc9950b8aba5"
      required: true
      schema:
        type: string
    include_audience:
      description: This is to include or exclude the audience data from the promotion details.
      example: true
      in: query
      name: include_audience
      required: true
      schema:
        type: boolean
        default: false
      style: form
    AccountId:
      name: account_id
      in: query
      description: Unique Account identifier assigned by Mastercard and provided in the Account enrollment response
      example: "f35e51fe-bc77-432f-b412-3800e3c04e5c"
      schema:
        type: string
    PromotionState:
      name: promotion_state
      in: query
      description: Valid promotion states are all, current, future, expired, future+current
      example: "all"
      schema:
        type: string
        default: all
    ref_id:
      description: Unique identifier for an audience
      example: 1127d5a6-ed44-4148-aa08-da168016cd56
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    entity_id:
      description: Entity ID is the unique id for the entity type account or household
      example: 12f5930a-ab8b-4a25-9774-6ba49a9bfd8c
      in: query
      name: entity_id
      required: true
      schema:
        type: string
      style: form
    entity_type:
      description: Entity Type is the type either Account or Household
      example: A
      in: query
      name: entity_type
      required: true
      schema:
        type: string
      style: form
    code:
      description: It is the audience code
      example: CODE_NY
      in: query
      name: code
      required: false
      schema:
        type: string
      style: form
    include_history:
      description: Do you need latest eligibility or full history(True - Full History, False - Latest Eligibility)
      example: true
      in: query
      name: include_history
      required: false
      schema:
        type: boolean
        default: true
      style: form
    from_date_time:
      description: Fetch audiences eligible on or after this date
      example: 2025-01-11T02:00:00Z
      in: query
      name: from_date_time
      required: false
      schema:
        type: string
      style: form
    to_date_time:
      description: Fetch audiences eligible on or before this date
      example: 2025-01-18T02:00:00Z
      in: query
      name: to_date_time
      required: false
      schema:
        type: string
      style: form
  responses:
    ResponseOkSearchAccount:
      description: Successfully Retrieved Account(s)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagedResponseOfAccountSearch'
    ResponseSearchAccountBadRequest:
      description: Search Account Bad Request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            BAD_REQUEST:
              $ref: '#/components/examples/SearchAccountBadRequest'
    ResponseOkPromotion:
      description: OK response including promotion progress data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PromotionProgressList'
    ResponsePromotionsUnauthorized:
      description: Authorization Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            UNAUTHORIZED:
              $ref: '#/components/examples/PromotionsUnauthorized'
    ResponsePromotionsForbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            FORBIDDEN:
              $ref: '#/components/examples/PromotionsForbidden'
    ResponsePromotionsBadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            BAD_REQUEST:
              $ref: '#/components/examples/PromotionsBadRequest'
    ResponseOkTransaction:
      description: OK response including paged transaction data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagedResponseGetTransactionDto'
    ResponseBadRequest:
      description: Bad Request with errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
    ResponseUnauthorizedError:
      description: Unauthorized error with errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
    ResponseUnauthorized:
      description: Client could not be authorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            AUTHORIZATION_ERROR:
              $ref: '#/components/examples/Unauthorized'
    ResponseForbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            FORBIDDEN:
              $ref: '#/components/examples/Forbidden'
    ResponseOkEvent:
      description: OK response including paged events data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagedEvent'
    ResponseNotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
    ActivePromotion:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Promotions"
    PromotionDetail:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PromotionDetail"
    Activated:
      description: Successfully updated Opt-In choice
    ResponsePagedResponseAudience:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagedResponseAudience'
    ResponseAudience:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Audience'
    ResponseAudienceCreated:
      description: Created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Audience'
    ResponseAudienceDeleted:
      description: Audience record is deleted successfully
    ResponseAudienceUnauthorized:
      description: Authorization Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            UNAUTHORIZED:
              $ref: '#/components/examples/AudienceUnauthorized'
    ResponseAudienceForbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            FORBIDDEN:
              $ref: '#/components/examples/AudienceForbidden'
    ResponseAudienceBadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            BAD_REQUEST:
              $ref: '#/components/examples/AudienceBadRequest'
    ResponseAudienceIdNotFound:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            BAD_REQUEST:
              $ref: '#/components/examples/AudienceIdNotFound'
    ResponseEventCreated:
      description: Created
      content:
        application/json:
          example:
            success: Event is successfully posted for scoring
    ResponseEventBadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            BAD_REQUEST:
              $ref: '#/components/examples/EventBadRequest'
    ResponseEventForbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsList'
          examples:
            FORBIDDEN:
              $ref: '#/components/examples/EventForbidden'
  schemas:
    AccountSearch:
      type: object
      properties:
        companyId:
          maxLength: 11
          type: string
          description: Mastercard assigned unique identifier for a client.
          example: '611532'
        memberICA:
          type: integer
          description: Interbank Card Association number assigned by Mastercard to the client.
          format: int64
          example: 611532
        accountNumberType:
          maxLength: 5
          type: string
          description: |
            The Field to identify type of value provided in accountNumber.
            - BAN – Bank Account Number. This is a unique Account Identifier which is a 16 digit card number with 3 trailing zeros and space filled
            - RANAC – Random Account Number. This is a unique account identifier.
            - AREF – Account Reference Number. This is a unique account identifier.
            - RANCU – Random Customer Number. This is a unique customer identifier.
            If accountNumberType is not provided then default value will be BAN
          example: 'BAN'
        accountNumber:
          maxLength: 19
          type: string
          description: The unique account identifier defined and provided by the client.
          example: '5330333671236516'
        userNumberType:
          maxLength: 5
          type: string
          description: The field to identify type of value provided in userNumber, for example BCN/RANCU/AREF. If userNumberType is not provided then default value will be BCN.
          example: 'BCN'
        userNumber:
          maxLength: 30
          type: string
          description: The unique identifier of a user assigned by the client.
          example: 'C02333333325'
    AccountSearchItem:
      type: object
      properties:
        id:
          maxLength: 50
          minLength: 0
          type: string
          format: uuid
          description: The unique reward account identifier assigned by the Mastercard.
          example: '308a1596-f42e-4569-bd12-c8f0827eed48'
        userId:
          maxLength: 50
          minLength: 0
          type: string
          format: uuid
          description: The unique User identifier assigned by the Mastercard.
          example: 'aee00b64-f320-4579-a87f-782a3c0b9722'
        householdId:
          maxLength: 50
          minLength: 0
          type: string
          format: uuid
          description: Unique Household identifier assigned by Mastercard.
          example: '87ht3780-62d1-4775-9549-8ed92c48c290'
        program:
          $ref: '#/components/schemas/Program'
        company:
          $ref: '#/components/schemas/Company'
        bankProduct:
          $ref: '#/components/schemas/BankProduct'
    Program:
      title: Program
      type: object
      properties:
        enrollmentCode:
          maxLength: 50
          minLength: 0
          type: string
          description: The unique identifier for a client’s reward program, defined by the client and configured during implementation. A single program can have more than one code assigned as long as the identifiers are unique.
          example: ZXSzM
        id:
          maxLength: 50
          minLength: 20
          type: string
          description: Unique Program Id
          example: 4f74f660-5793-4f33-a3bc-ffc7bee39238
    BankProduct:
      title: BankProduct
      type: object
      properties:
        code:
          maxLength: 50
          minLength: 0
          type: string
          description: Bank Product Code
          example: 7274VCC
        id:
          maxLength: 50
          minLength: 20
          type: string
          description: Bank Product Id
          format: uuid
          example: ff34f660-5793-4f33-a3bc-ffc7bee39238
    Company:
      title: Company
      type: object
      properties:
        memberICA:
          type: integer
          description: Interbank Card Association number assigned by Mastercard to the client.
          format: int64
          example: 898923
        companyId:
          maxLength: 11
          minLength: 0
          type: string
          description: Mastercard assigned unique identifier for a client.
          example: '611532'
        id:
          maxLength: 50
          minLength: 20
          type: string
          description: Reward Company Id
          format: uuid
          example: 5f74g660-5793-4f33-a3bc-ffc7bee39234
    Cap:
      type: object
      description: "Contains reward capping information for a given promotion. Capping is the maximum amount of rewards that a user can get while the promotion is active. Capping can be applied on an account or transaction level and within a given time period."
      properties:
        entityType:
          type: string
          example: 'ACCOUNT'
          maxLength: 15
          description: Type at which the promotion cap is applied –  "ACCOUNT", "HOUSEHOLD"
        entityId:
          type: string
          example: 'f35e51fe-bc77-432f-b412-3800e3c04e5c'
          maxLength: 50
          description: Unique identifier for the caps entity type - “ACCOUNT” or “HOUSEHOLD”.
        capId:
          type: string
          example: 'd963516d-1fc0-47e7-acc2-3468b1f81473'
          maxLength: 50
          description: CapId is a unique identifier for the promotion capping rule.
        capPeriod:
          type: string
          example: 'M'
          maxLength: 10
          description: |
            The promotion period for which the cap will reset. 
            - For example, M (Month), indicates that the cap resets monthly. 
            - Eg. "<null | M (Month) | Y (Year) | L (Lifetime)>"
        capType:
          type: string
          example: 'group-cap'
          maxLength: 15
          description: Type of cap = "promotion-cap" or "group-cap".
        capPeriodValue:
          type: string
          example: '202108'
          maxLength: 15
          description: |
            Period value corresponding to cap Period. 
            - Eg. "YYYYMM" when capPeriod is "MONTH" and capPeriodMode is "CALENDAR"
            - Eg. "YYYYMMDD" when capPeriod is "MONTH/YEAR" and capPeriodMode is "ENROLLMENT_DATE/PRIMARY_ENROLLMENT_DATE"
        capThreshold:
          type: integer
          example: 5
          maxLength: 15
          description: Maximum amount of reward that can be awarded for the cap level of this promotion. (i.e. the cap amount)
          format: int64
        capValue:
          type: integer
          example: 3
          maxLength: 15
          description: Current value of earned rewards for this promotion. Could be one of (points, miles, amount, vouchers).
          format: int64
        capCurrencyCode:
          type: string
          example: 'USD'
          maxLength: 5
          description: ISO currency code for Caps configured for the given Promotion. Ex. US Dollar ISO code is USD.
        capPeriodMode:
          type: string
          example: 'CALENDAR'
          maxLength: 25
          description: CapPeriodMode is the mode on which the CapPeriod is based on. Ex. CALENDAR/ENROLLMENT_DATE/PRIMARY_ENROLLMENT_DATE.
        capPeriodFrequency:
          type: integer
          example: 2
          maxLength: 2
          description: This value modifies the Cap Period. Instead of resetting the cap every day/month/quarter/year, the cap is reset every X days/months/quarters/years.
        capPeriodStartDate:
          type: string
          example: '2024-07-15T00:00:00Z'
          maxLength: 25
          description: The period start date gives a starting point to determine what the range is for each cap period.
    DelayedAwardDetails:
      type: object
      description: "Contains rewards that have been awarded by not yet received."
      properties:
        entityType:
          type: string
          example: 'ACCOUNT'
          maxLength: 15
          description: Type at which the promotion cap is applied –  "ACCOUNT", "HOUSEHOLD"
        entityId:
          type: string
          format: uuid
          example: 'f35e51fe-bc77-432f-b412-3800e3c04e5c'
          maxLength: 50
          description: Unique identifier for the caps entity type - “ACCOUNT” or “HOUSEHOLD”.
        totalRewardsAwarded:
          type: integer
          example: 5
          maxLength: 15
          description: Total rewards (points, miles, rebate amount) awarded for this promotion.
    ErrorItem:
      type: object
      properties:
        Description:
          type: string
          description: Describes Error Type
          example: "Invalid account_id received"
        Details:
          type: string
          description: Describes details of Error Type
          example: "null"
        ReasonCode:
          type: string
          description: ReasonCode for Error Type
          example: "INVALID_INPUT"
        Recoverable:
          type: boolean
          description: Indicates if the Error Type is Recoverable
          example: false
        Source:
          type: string
          description: Indicates Source of Error Type
          example: "VALIDATION_ERROR"
    Errors:
      required:
        - Error
      type: object
      properties:
        Error:
          type: array
          description: List of ErrorItems
          items:
            $ref: '#/components/schemas/ErrorItem'
    ErrorsList:
      required:
        - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
    PagedResponseGetTransactionDto:
      type: object
      properties:
        count:
          type: integer
          description: The number of items that are in this offset batch
          format: int32
          example: 1
        offset:
          type: integer
          description: The number of items to offset the start of the list from
          format: int32
          example: 0
        limit:
          type: integer
          description: The number of items in the list to be limited to
          format: int32
          example: 25
        total:
          type: integer
          description: The total number of items that are in the entire collection
          format: int64
          example: 1
        items:
          type: array
          description: Items in transaction response
          items:
            $ref: '#/components/schemas/GetTransaction'
    Currency:
      type: object
      properties:
        issuerAmountSettlementCurrency:
          type: integer
          description: DE6 - Transaction amount converted to cardholders currency.
          format: int64
          example: 12000
        issuerCurrencyCode:
          type: string
          description: Currency code that defines the currency type, the country of origin, and the implied decimal point location for the related amount of the transaction.
          example: 'USD'
        issuerCurrencyExponent:
          type: integer
          description: Cardholder billing currency exponent.
          format: int32
          example: 2
        settlementCurrencyCode:
          type: string
          description: Issuer settlement currency code.
          example: 'USD'
        settlementCurrencyExponent:
          type: integer
          description: Issuer settlement currency exponent.
          format: int32
          example: 2
        transactionAmountSettlementCurrency:
          type: integer
          description: DE5 - Issuer settlement currency.
          format: int64
          example: 12000
        transactionAmountTransactionCurrency:
          type: integer
          description: DE4 - The entire amount of a particular transaction.
          format: int64
          example: 12000
        transactionCurrencyCode:
          type: string
          description: Currency code that defines the currency type, the country of origin, and the implied decimal point location for the related amount of the transaction.
          example: 'USD'
        transactionCurrencyExponent:
          type: integer
          description: Currency exponent for transaction amount.
          format: int32
          example: 2
        usdEquivalent:
          type: integer
          description: Currency amount in USD
          format: int64
          example: 12000
        euroEquivalent:
          type: integer
          description: Currency amount in Euro
          format: int64
          example: 11102
    Merchant:
      type: object
      properties:
        acquirerIca:
          type: string
          description: Merchant acquirer Ica for the transaction.
          example: '12345'
        aggregateMerchantId:
          type: string
          description: The aggregate merchant ID of the merchant location matched to the transaction (or as assigned based on scrubbed transaction data if no location was matched and aggregate merchant assignment was requested). 99999 if not assigned.
          example: '985'
        city:
          type: string
          description: City of the merchant.
          example: 'BULGAKOVO'
        country:
          type: string
          description: Merchant country code of the transaction.
          example: 'USA'
        countryCode:
          type: string
          description: Country code of the merchant.
          example: 'USA'
        crossBorder:
          type: boolean
          description: Identifies whether the transaction is a cross-border transaction.
          example: true
        dbaName:
          type: string
          description: Provided by Merchant or Acquirer. This is the Trade Name of the establishment, captured in the GCMS message.
          example: 'SHORTDBANAME'
        locationId:
          type: string
          description: Location ID of the merchant location matched to the transaction. If no location can be determined the value 999999999 will be assigned.
          example: '624103356'
        mccClassificationCode:
          type: string
          description: Mastercard defined classification of Merchant Category Code.
          example: '4K'
        mccGroup:
          type: string
          description: Merchant Category Group assigned to MCC code in Merchant_Category_Hierarchy.
          example: '78'
        merchantCategoryCode:
          type: string
          description: Identifies the merchants primary business.
          example: '5311'
        merchantId:
          type: string
          description: Acquirer Merchant ID as defined by merchant processing for the transaction.
          example: '6442456804'
        name:
          type: string
          description: Merchant name of the transaction
          example: 'AAA'
        postalCode:
          type: string
          description: Postal code of the merchant.
          example: '81801'
        region:
          type: string
          description: Region code of the merchant location matched to the transaction (or the business region code of the scrubbed country code if no location was matched). If the scrubbed country code is unknown (XXX), a value of 99 is assigned.
          example: '5'
        shortDbaName:
          type: string
          description: The short DBA name derived from the scrubbed merchant DBA name for the transaction.
          example: 'OOOTERMSERV'
        state:
          type: string
          description: The state/province code of the merchant location matched to the transaction (or the scrubbed state/province code of the transaction if no location was matched. This will be spaces except for USA, CAN, and AUS. If the state/province code cannot be determined, values of 'XX', 'XP' or 'UNK" will be assigned for USA, CAN and AUS respectively.
          example: 'MO'
        storeDivision:
          type: string
          description: Merchant store division.
          example: '30078'
        storeNumber:
          type: string
          description: Merchant store number.
          example: '20002'
        streetAddress:
          type: string
          description: Street address of the merchant.
          example: 'B-N M-N AEROPORT STR BLD PAR'
    TransactionScore:
      type: object
      properties:
        pointType:
          type: string
          description: Specifies the point type which is either Base Points or Bonus Points.
          example: 'BONUS'
        promotionId:
          type: string
          description: Unique promotion identifier.
          format: uuid
          example: '2aee0729-3a1a-451a-affa-84f3a6bc5acc'
        promotionName:
          type: string
          description: Name of the promotion.
          example: 'Rewards Promo'
        rawScore:
          type: string
          description: Raw score (pre-capped score).
          example: '120'
        reason:
          type: string
          description: Reason code if there is any change in pre-capping or threshold score.
          example: 'cap'
        rewardType:
          type: string
          description: Specifies the reward type which is either Points or Rebate or Reward Item or Benefit.
          example: 'CASHBACK'
        score:
          type: string
          description: Final Score after capping.
          example: '100'
        postingAccountReferenceId:
          type: string
          description: Posting Account ReferenceId
          format: uuid
          example: '751678c0-079b-11eb-adc1-0242ac12aaaa'
    GetTransaction:
      type: object
      properties:
        accountInfo:
          type: boolean
          description: Indicates if an account number is present.
          example: true
        accountNumber:
          type: string
          description: Unique account identifier defined and provided by the client.
          example: '"1234-56**-****-7890-000" for 19 digit account numbers or "************1234" for 16 digit account numbers'
        acquirerCountryCode:
          type: string
          description: Identifies the geographic country of the Acquirer.
          example: 'USA'
        acquirerId:
          type: string
          description: Acquiring Institution ID Code identifies a transaction acquirer.
          example: '5037'
        acquirerReferenceNumber:
          type: string
          description: this reference number uniquely identifies the acquiring bank for the merchant
          example: '3080528744'
        authCode:
          type: string
          description: This is an alphanumeric code provided by Mastercard if applicable
          example: '050913'
        cardDataInputModeCode:
          type: string
          description: "Indicates the method used for entry to initiate a transaction with possible values
            - 0 - PAN entry mode unknown
            - 1 - PAN manual entry; no terminal used 
            - 2 - PAN auto-entry via magnetic strip: track data is not required within transaction
            - 6 - PAN manual entry using a terminal, or through voice transaction after chip card read error or chip fallback transaction failure
            - 7 - Credential on File (effective June 12, 2018)
            - A - PAN auto-entry via contactless magnetic stripe: track data provided unaltered within transaction
            - B - PAN auto-entry via magnetic stripe: track data provided unaltered within transaction (magnetic stripe entry may also be chip fallback transaction).
            - C - PAN auto-entry via chip (online authorized transaction)
            - F - PAN auto-entry via chip (offline chip-approved transaction)
            - M - PAN auto-entry via contactless M/Chip
            - R - PAN entry via electronic commerce containing Digital Secure Remote Payment (DSRP) cryptogram within DE 55 (Integrated Circuit Card [ICC])
            - S - PAN entry via electronic commerce
            - T - PAN auto-entry via server (issuer, acquirer, or third party vendor system)"
          example: 'M'
        cardHolderPresentCode:
          type: string
          description: "Indicates whether the cardholder is present at the point of service and explains the condition if the cardholder is not present with possible values
            - 0 - Cardholder present
            - 1 - Cardholder not present (unspecified)
            - 2 - Cardholder not present (mail/facsimile transaction)
            - 3 - Cardholder not present (phone order or from automated response unit [ARU])
            - 4 - Cardholder not present (standing order/recurring transactions)
            - 5 - Cardholder not present (electronic order [PC, Internet, mobile phone, or PDA]) 
            - 9 - Unknown; data unavailable"
          example: '0'
        cardPresentCode:
          type: string
          description: Indicates if the card is present at the point of service (example:0,1).
          example: '1'
        clientTransactionCode:
          type: string
          description: This code can be used for noting specific bank transactions. For example, 10001 - Bill pay, 10002 = loan payment.
          example: 'DVWPO'
        companyIca:
          type: string
          description: Mastercard assigned unique identifier for the company. This is a numeric ID with leading zeros to make up the 6 digits.
          example: '611532'
        companyId:
          type: string
          description: Mastercard assigned unique identifier for the company.
          example: '4K'
        companyPromotionField:
          type: string
          description: This is an arbitrary field that can be used by issuers to provide data to be used in promotions
          example: '72882990'
        currency:
          $ref: '#/components/schemas/Currency'
        debitSwitch:
          type: string
          description: "This switch is used to identify submitted transactions that might require specialized scoring needs. Valid values are: Y = debit transaction, N = anything"
          example: 'N'
        exceptionId:
          type: string
          description: Numeric ID assigned by Mastercard scoring system to indicate an exception on the scored transaction. This is a numeric ID.
          example: '208058744'
        interchangeRateDesignator:
          type: string
          description: Interchange rate designator for the transaction.
          example: '2A'
        issuerCountryCode:
          type: string
          description: Identifies the geographic country of the Issuer.
          example: 'USA'
        issuerId:
          type: string
          description: unique identifier for the issuer, generated by Mastercard during issuer enrolment.
          example: '10455'
        issuerRegion:
          type: string
          description: Identifies the region of the Issuer.
          example: '05'
        itemCode:
          type: string
          description: Unique code number for item in transaction.
          example: 'Orbit'
        itemDescription:
          type: string
          description: Description of item in transaction.
          example: 'Sony Walkman'
        itemSku:
          type: string
          description: Unique SKU number associated with item in transaction.
          example: '21043332'
        merchant:
          $ref: '#/components/schemas/Merchant'
        offerType:
          type: string
          description: This is an alphanumeric code. Only used for SKU level promotions. Generally not provided by merchant/ acquirer.
          example: '00101'
        productCode:
          type: string
          description: The account’s associated reward product identifier as defined by the client and configured during the implementation of the program.
          example: 'MCB'
        productLine:
          type: string
          description: The account’s associated reward product identifier as defined by the client and configured during the implementation of the program. Only used for SKU level promotions. Generally not provided by merchant/ acquirer.
          example: '30003'
        rewardPostingDateTime:
          type: string
          format: date-time
          description: Date when the transaction posted.
          example: '2020-01-12T05:00:00+0000'
        routeNumber:
          type: string
          description: this is a numeric value that indicates the route used for the transaction that travels through the payment network from point of sale to Mastercard.
          example: '29920212'
        sellingChannel:
          type: string
          description: Channel through which the given transaction occurred. Only used for SKU level promotions. Generally not provided by merchant/ acquirer.
          example: '2524635'
        sequenceNumber:
          type: string
          description: Numerical sequence number of the original Transaction
          example: '10000124564'
        tokenRequestorId:
          type: string
          description: The TRID uniquely identifies a token requestor (such as a Wallet Provider) that’s leveraging MDES for tokenized transactions.
          example: '50139059239'
        transactionAmount:
          type: integer
          description: Indicates the amount of the transaction.
          format: int64
          example: 12000
        transactionAmountFormatted:
          type: string
          description: Formatted transaction amount.
          example: '$120.00'
        transactionDateTime:
          type: string
          format: date-time
          description: Date and time of the transaction.
          example: '2020-01-12T05:00:00+0000'
        transactionId:
          type: string
          description: unique identifier of the transaction generated by Mastercard system when transaction is received.
          format: uuid
          example: 'f66e7af3-3a09-451a-9331-e0baa8f97acd'
        transactionScores:
          type: array
          description: scores assigned to transaction after capping. There are two scores, raw score (pre-capped score), score (final score after capping has been applied)
          items:
            $ref: '#/components/schemas/TransactionScore'
        transactionSourceCode:
          type: string
          description: Source of Transaction (example:GCMS).
          example: 'GCMS'
        transactionType:
          type: string
          description: Unique transaction type code in Data Warehouse; maps to DE3s1 value.
          example: '5'
        walletProgramCode:
          type: string
          description: Provides information about how transactions initiated through the user of a digital wallet.
          example: '146'
        installmentPurchaseAmt:
          type: integer
          description: This field represents the Total Purchase Amount example 128000.
          format: int64
          example: 128000
        installmentNum:
          type: integer
          description: This field represents how many installments the Total Purchase Amount has been broken into is example 5.
          format: int32
          example: 5
        installmentPaymentNum:
          type: integer
          description: This field represents what installment number the transaction is example 1 of 5.
          format: int32
          example: 1
    EventItem:
      type: object
      properties:
        accountInfo:
          type: boolean
          description: Indicates if account info is present
          example: true
        accountNumber:
          type: string
          description: Account number (masked)
          example: "**8345"
        eventId:
          type: string
          format: uuid
          description: Event identifier
          example: EVENT-UUID
        rewardsCompanyId:
          type: string
          format: uuid
          description: Rewards company identifier
          example: COMPANY-UUID
        programId:
          type: string
          format: uuid
          description: Program identifier
          example: PROGRAM-UUID
        householdId:
          type: string
          format: uuid
          description: Household identifier
          example: UUID
        eventScores:
          type: array
          items:
            $ref: '#/components/schemas/EventScore'
    EventScore:
      type: object
      properties:
        scoreId:
          type: string
          format: uuid
          description: Unique score identifier
          example: dd7839c3-b20a-48a8-9c75-800bd2de5b6a
        promotionId:
          type: string
          format: uuid
          description: Unique promotion identifier
          example: 47e39dd0-9c8a-4e4f-8e4d-de374a8277dd
        promotionName:
          type: string
          description: Name of the promotion
          example: Rewards Promo
        rawScore:
          type: number
          description: Raw score before capping
          example: 120
        score:
          type: number
          description: Final score after capping
          example: 100
        reason:
          type: string
          description: Reason for score adjustment
          example: cap
        rewardType:
          type: string
          description: Type of reward
          example: CASHBACK
        postingAccountReferenceId:
          type: string
          format: uuid
          description: Posting account reference id
          example: 751678c0-079b-11eb-adc1-0242ac12aaaa
        currencyCode:
          type: string
          description: Currency code
          example: USD
    PagedEvent:
      type: object
      properties:
        limit:
          type: integer
          format: int32
          example: 25
        offset:
          type: integer
          format: int32
          example: 0
        total:
          type: integer
          format: int64
          example: 1
        count:
          type: integer
          format: int32
          example: 1
        items:
          type: array
          items:
            $ref: '#/components/schemas/EventItem'
        eventDateTime:
          type: string
          format: date-time
          description: Event date and time
          example: 2024-02-02T00:00:00+0000
        eventType:
          type: string
          description: Event type (TARGETED or REDEMPTION)
          example: TARGETED
        eventClass:
          type: string
          description: Event class
          example: email_added
        eventValue:
          type: string
          description: Value associated with the event
          example: abc@gmail.com
        eventTotal:
          type: integer
          description: Optional field for event total
          example: 525
    PromotionProgressList:
      type: object
      properties:
        promotionProgresses:
          type: array
          description: List of PromotionProgress or AudienceProgress.
          items:
            $ref: '#/components/schemas/PromotionProgress'
    PromotionProgress:
      type: object
      properties:
        promotionId:
          type: string
          example: '2aee0729-3a1a-451a-affa-84f3a6bc5acc'
          maxLength: 50
          description: Unique Identifier for the promotion or audience for which reward progress is retrieved.
        programId:
          type: string
          example: 'f06b850a-1943-420a-bb15-c8de8f101d5e'
          maxLength: 50
          description:  Unique Program Id for the business partner program to which this promotion or audience belongs to.
        active:
          type: boolean
          example: TRUE
          description: Indicates whether this promotion or audience is currently active (true) or inactive (false). Promotion or Audience end date should be after current date.
        progresses:
          type: array
          description: List of ProgressSummary
          items:
            $ref: '#/components/schemas/ProgressSummary'
        rules:
          type: array
          description: List of rules/threshold
          items:
            $ref: '#/components/schemas/Rule'
        caps:
          type: array
          description: List of Caps
          items:
            $ref: '#/components/schemas/Cap'
        delayedAwardDetails:
          type: array
          description: List of delayed reward details
          items:
            $ref: '#/components/schemas/DelayedAwardDetails'
        rankedTiers:
          type: array
          description: List
          items:
            $ref: '#/components/schemas/RankedTier'
    ProgressSummary:
      type: object
      properties:
        entityType:
          type: string
          example: 'HOUSEHOLD'
          maxLength: 15
          description: |
            Unique Household identifier assigned by Mastercard and provided during the account enrollment and household creation process. or Unique Account identifier assigned by Mastercard and provided in the Account enrollment response.
        entityId:
          type: string
          example: 'ad1e21a7-4c1c-4812-ae47-d2c4fae7c5a8'
          maxLength: 50
          description: Unique identifier for the progress entity type - “ACCOUNT” or “HOUSEHOLD”.
        totalRewardsReceived:
          type: integer
          example: 5
          maxLength: 15
          description: Total rewards (points, miles, rebate amount) received for this promotion.
        rewardsCurrencyCode:
          type: string
          example: 'USD'
          maxLength: 5
          description: ISO currency code for the promotion award currency selected by the client during the Promotion Setup. Ex. US Dollar ISO code is USD.
        rankValue:
          type: integer
          example: 5
          maxLength: 15
          description: This is a daily rank generated for the cardholder account enrolled in a rank based promotion. It is either based on total transaction count or cumulative spend. Lower number depicts higher rank.
    Rule:
      type: object
      properties:
        entityType:
          type: string
          example: 'HOUSEHOLD'
          maxLength: 15
          description: Indicates level at which the promotion or audience rule is applied. “ACCOUNT” or “HOUSEHOLD”.
        entityId:
          type: string
          example: 'ad1e21a7-4c1c-4812-ae47-d2c4fae7c5a8'
          maxLength: 50
          description: Unique identifier for the rules entity type - “ACCOUNT” or “HOUSEHOLD”.
        ruleId:
          type: string
          example: 'da06a951-0237-4f32-affb-16502ae7dc9a'
          maxLength: 50
          description: Rule Id is a unique identifier for the promotion or audience rule.
        ruleThreshold:
          type: integer
          example: 5
          maxLength: 15
          description: This is the minimum amount of cumulative spend, count or rate of transactions that needs to be met in order to receive reward.
          format: int64
        ruleType:
          type: string
          example: 'COUNT'
          maxLength: 10
          description: |
            Threshold Type for ruleValue and ruleThreshold. 
            - COUNT = Cumulative number of times a qualifying transaction or behavior needs to be made in order to receive a reward 
            - SPEND = Cumulative amount of spend across qualifying transactions that needs to be made in order to receive a reward
            - RATE = Accumulated tiering value across qualifying transactions that needs to be made in order to receive a reward
        ruleValue:
          type: integer
          example: 4
          maxLength: 15
          description: The account’s progress towards a rule threshold. A threshold could be the cumulative spend, count or rate of transactions made.
          format: int64
        rulePeriod:
          type: string
          example: 'M'
          maxLength: 10
          description: Period for which promotion or audience rule is applied – “MONTH”, “YEAR”, “LIFETIME”.
        rulePeriodValue:
          type: string
          example: '202108'
          maxLength: 15
          description: Period value corresponding to rule Period - "YYYYMM” when rulePeriod is “MONTH”.
        ruleCurrencyCode:
          type: string
          example: 'USD'
          maxLength: 5
          description: ISO currency code for threshold Rules configured for the given Promotion. Ex. US Dollar ISO code is USD.
        ruleMode:
          type: string
          example: 'RANKED'
          maxLength: 15
          description: Mode of the threshold, which when ‘null’, functions as a lower-bound of minimum spend required to receive an award, and when ‘RANKED’, functions as a ranking configuration with tiers.
    Account:
      type: object
      properties:
        accountId:
          type: string
          format: uuid
          description: Unique Account identifier assigned by Mastercard and provided in the Account enrollment response.
          example: "f35e51fe-bc77-432f-b412-3800e3c04e5c"
        activation:
          type: boolean
          description: Specifies if the account is opted-in or out for this promotion.
          example: true
        activationDateTime:
          type: string
          format: date-time
          description: Specifies the date when user has optedin or opted out of a promotion.
          example: "2020-06-04T15:19:31.827Z"
    AudienceArray:
      type: object
      properties:
        entityType:
          type: string
          description: A for Account, H for Household
          example: "A"
        code:
          type: string
          description: Code for the associated audience
          example: "pYtYI3Otdn"
    ExternalTargetRecord:
      type: object
      properties:
        externalTargetCode:
          type: string
          description: Code for the associated external target
          example: "pYtYI3Otdn"
        externalBeginDateTime:
          type: string
          format: date-time
          description: Begin date of external target record
          example: "2020-06-17T20:19:55.763Z"
        beginDateTime:
          type: string
          format: date-time
          description: Begin date of promotion association to external target
          example: "2020-05-18T20:19:55.763Z"
        endDateTime:
          type: string
          format: date-time
          description: End date of promotion association to external target
          example: "2020-07-18T20:19:55.765Z"
        entityType:
          type: string
          description: Indicates at which level the external target is associated - either 'A' for Account or 'H' for Household
          example: "A"
        entityId:
          type: string
          format: uuid
          description: Code for the associated external target
          example: "7e747d4a-b585-4990-8756-53996b222804"
        source:
          type: string
          description: Unique entity identifier for external target type which can be the primary account id or just an associated account id
          example: "GRP"
        statusCode:
          type: string
          description: Status code for the associated external target - 'Q', 'P', 'D'
          example: "Q"
        eventDateTime:
          type: string
          format: date-time
          description: Event date time of record sync with the specific source - 'MRS' or 'GRP'
          example: "2020-07-18T20:19:55.765Z"
        externalReferenceId:
          type: string
          description: Identifier for company the external target is associated with
          example: "90909090"
    Promotion:
      type: object
      properties:
        accounts:
          type: array
          description: List of Accounts
          items:
            $ref: "#/components/schemas/Account"
        audiences:
          type: array
          description: List of Audience Codes
          items:
            $ref: "#/components/schemas/AudienceArray"
        externalTargetRecords:
          type: array
          description: External Target Records
          items:
            $ref: "#/components/schemas/ExternalTargetRecord"
        activationRequired:
          type: boolean
          example: true
          description: |
            Specifies if a promotion is enabled for Opt-In/Opt-Out.
            - true = Opt-in/out enabled
            - false = Opt-in/out not enabled, account is opted into promotion by default if targeted.
        targetingEnabled:
          type: boolean
          example: false
          description: |
            Specifies if a promotion is enabled for targeting.
            - true = Targeting enabled, account has to be targeted for transactions to qualify.
            - false = Targeting not enabled, all accounts are eligible into promotion by default.
        description:
          type: string
          description: Description of the promotion
          example: "Promotion for digital rewards"
        scoringBeginDateTime:
          type: string
          format: date-time
          description: Scoring begin date.
          example: "2023-02-01T15:15:31.827Z"
        scoringEndDateTime:
          type: string
          format: date-time
          description: Scoring end date.
          example: "2023-02-01T15:15:31.827Z"
        postingBeginDateTime:
          type: string
          format: date-time
          description: posting begin date.
          example: "2023-02-01T15:15:31.827Z"
        postingEndDateTime:
          type: string
          format: date-time
          description: posting end date.
          example: "2023-02-01T15:15:31.827Z"
        transactionBeginDateTime:
          type: string
          format: date-time
          description: transaction begin date.
          example: "2023-02-01T15:15:31.827Z"
        transactionEndDateTime:
          type: string
          format: date-time
          description: transaction end date.
          example: "2023-02-01T15:15:31.827Z"
        frequency:
          type: string
          description: Frequency of the promotion.
          example: "RECURRING"
        name:
          type: string
          description: Name of the promotion.
          example: "Digital Rewards"
        programId:
          type: string
          description: Unique program identifier.
          example: "aae5ce99-58d1-47f4-8b6a-43b427be9d74"
        promotionId:
          type: string
          description: Unique promotion identifier.
          example: "de0e1456-e678-4270-b027-fc9950b8aba5"
        timeZoneId:
          type: string
          description: Time zone of a promotion.
          example: "America/Chicago"
        statusCode:
          type: string
          description: Status of the promotion.
          example: "ACTIVE"
        statusChangedDateTime:
          type: string
          format: date-time
          description: The time when the status was updated.
          example: "2020-06-05T15:19:31.827Z"
        beginDateTime:
          type: string
          format: date-time
          description: Promotion begin date and time.
          example: "2023-02-01T15:15:31.827Z"
        endDateTime:
          type: string
          format: date-time
          description: Promotion end date and time.
          example: "2023-12-31T23:59:59.000Z"
        scoringType:
          type: string
          description: The scoring type of the promotion.
          example: "TRANSACTION"
        ranked:
          type: boolean
          description: Indicates if the promotion is ranked.
          example: false
    OptIn:
      type: object
      properties:
        accountId:
          type: string
          description: Unique Account identifier assigned by Mastercard and provided in the Account enrollment response.
          example: "f35e51fe-bc77-432f-b412-3800e3c04e5c"
        activation:
          type: boolean
          description: |
            Specifies if the consumer is opting in or opting out of a promotion.
            - true = Opt-In
            - false = Opt-Out
          example: true
        promotionId:
          type: string
          description: The unique identifier of the Promotion.
          example: "de0e1456-e678-4270-b027-fc9950b8aba5"
    Promotions:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 1
          description: The number of items that are in this offset batch
        offset:
          type: integer
          format: int32
          example: 1
          description: The number of items to offset the start of the list from
        limit:
          type: integer
          format: int32
          example: 25
          description: The number of items in the list to be limited to
        total:
          type: integer
          format: int64
          example: 1
          description: The total number of items that are in the entire collection
        items:
          type: array
          description: List of Promotions
          items:
            $ref: "#/components/schemas/Promotion"
    PromotionDetail:
      type: object
      properties:
        caps:
          type: array
          description: List of Caps applied to the Promotion
          items:
            $ref: '#/components/schemas/PromotionCap'
        promotionId:
          type: string
          description: Unique promotion identifier
          example: "de0e1456-e678-4270-b027-fc9950b8aba5"
        rewardConfig:
          type: object
          description: Rewards information
          properties:
            promotionId:
              type: string
              description: Unique promotion identifier
              example: "de0e1456-e678-4270-b027-fc9950b8aba5"
            referenceId:
              type: string
              description: Unique reward config identifier
              example: "de89f43c-8fbe-45ae-b5d2-ab965ecaa956"
            rebateText:
              type: string
              description: Specifies the text that shows up on cardholders billing statement for a purchase (Only applicable for a rebate)
              example: "REBATE"
            rebateTextNegative:
              type: string
              description: Specifies the text that shows up on cardholders billing statement for a return (Only applicable for a rebate)
              example: "RETURN"
            rewardType:
              type: string
              description: |
                Specifies the type of reward.
                - CASHBACK - Cashback
                - POINTS - Points
                - REWARD_ITEM - Reward Item
                - BENEFIT - Benefit
              example: "CASHBACK"
            pointType:
              type: string
              description: |
                Specifies how the points are awarded (Only applicable if rewardType is POINTS).
                - BASE_POINTS - Base points
                - BONUS_POINTS - Bonus points
              example: "BASE_POINTS"
            awardType:
              type: string
              description: |
                Specifies if the award is going to be a fixed amount or if its going to be based on transaction amount.
                - FIXED - Fixed amount
                - PERCENTAGE - Percentage of transaction amount
              example: "FIXED"
            applyAwardTo:
              type: string
              description: |
                Specifies if the award is applied to transacting account or the household primary account.
                - TRANSACTING_ACCOUNT - Transacting account
                - PRIMARY_ACCOUNT - Household primary account
              example: "TRANSACTING_ACCOUNT"
            scoreBasedOn:
              type: string
              description: |
                Specifies how the transactions are scored.
                - DE4_TRANSACTION_AMOUNT - Transaction amount
                - DE5_SETTLEMENT_AMOUNT - Settlement amount
                - DE6_CARDHOLDER_BILLING_AMOUNT - Cardholder billing amount
              example: "DE4_TRANSACTION_AMOUNT"
            rewardRate:
              type: string
              description: If the awardType is FIXED, this field specifies the amount that is awarded. And if the awardType is not fixed then it specifies the percentage of transaction amount.
              example: "10"
            delayedAward:
              type: object
              description: Delayed Award
              properties:
                mode:
                  type: string
                  description: Specifies type of Delayed Award
                  enum:
                    - AWARD_AMOUNT_BASED
                    - AWARD_TIME_BASED
                  example: "AWARD_AMOUNT_BASED"
                resetAmount:
                  type: number
                  format: double
                  description: |
                    If Delayed Award is amount based, this field specifies the reset amount.
                  example: 10.00
                periodFrequency:
                  type: integer
                  format: int32
                  description: |
                    If Delayed Award is time based, this field specifies frequency.
                  example: 10
                periodCode:
                  type: string
                  description: If Delayed Award is time based, this field specifies time period time.
                  enum:
                    - DAY
                    - WEEK
                    - MONTH
                    - QUARTER
                    - YEAR
                  example: "MONTH"
                periodBeginDateTime:
                  type: string
                  format: date-time
                  description: |
                    If Delayed Award is time based, this field specified begin date time.
                  example: "2020-10-24T00:00:00Z"
                periodMode:
                  type: string
                  description: If Delayed Award is time based, this field specifies of how cardholder will be awarded.
                  enum:
                    - ACCOUNT_ENROLLMENT_DATE
                    - PRIMARY_ENROLLMENT_DATE
                    - ACTIVE_DATE
                  example: "ACCOUNT_ENROLLMENT_DATE"
                negativeBalanceHandling:
                  type: string
                  description: Specifies how the negative balance should be handled.
                  enum:
                    - NEVER_TAKE_BACK
                    - TAKE_IT_BACK_AT_THE_END
                    - TAKE_IT_BACK_IMMEDIATELY
                  example: "NEVER_TAKE_BACK"
        thresholds:
          type: array
          description: List of Thresholds applied to the Promotion
          items:
            $ref: '#/components/schemas/PromotionThreshold'
        audiences:
          type: array
          description: List of Audiences associated with the Promotion
          items:
            $ref: '#/components/schemas/audiences'
    PromotionThreshold:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique threshold identifier
          example: "fbbbba72-141d-41f5-9ace-69129f971010"
        type:
          type: string
          description: |
            Specifies if the threshold is based on transaction count, transaction spend amount or accumulated tiering value.
            - COUNT - Transaction count
            - SPEND - Transaction spend amount
            - RATE -  Accumulated tiering value
          example: "SPEND"
        fieldType:
          type: string
          description: |
            If the type selected is SPEND, then this field specifies which amount value is used to accumulate toward the threshold.
            - DE04 - Transaction Amount
            - DE06 - Cardholder Billing Amount
          example: "DE04"
        value:
          type: number
          format: double
          description: The spend amount or the count that must be reached before the award is given
          example: 1000.00
        level:
          type: string
          description: |
            Specifies the level at which the threshold is applied.
            - A - Account level (All accounts have their own threshold)
            - H - Household level (Each account contributes toward reaching the threshold)
          example: "A"
        periodInDaysAfterDate:
          type: integer
          format: int32
          description: Number of days the cardholder has to meet the threshold before its expired
          example: 10
        dateFieldType:
          type: string
          description: |
            Specifies the date type used for starting the count on how long the account has for meeting the threshold.
            - ENROLLMENT_DATE - The date on which the cardholder has enrolled to the program
            - TARGET_BEGIN_DATE - The date on which the account is set to be targeted into a promotion
            - ACTIVE_DATE - The date on which enrollment record was added to the system
            - OPTIN_DATE - The date on which the account has opted into the promotion
          example: "ENROLLMENT_DATE"
        rankedTiers:
          type: array
          description: Tiers of awards that can be found on this promotion
          items:
            $ref: '#/components/schemas/AwardTier'
        scoreBasedOn:
          type: string
          description: How the score for the promotion will be calculated
          example: "DE4_TRANSACTION_AMOUNT|DE5_SETTLEMENT_AMOUNT|DE6_CARDHOLDER_BILLING_AMOUNT|USD_EQUIVALENT|EUR_EQUIVALENT|TRANSACTION_AMOUNT"
        applyAwardTo:
          type: string
          description: How the awards for the promotion will be paid out to the recipient
          example: "TRANSACTING_ACCOUNT"
    AwardTier:
      type: object
      properties:
        from:
          type: number
          description: Lower bound of this award tier
          example: 100
        to:
          type: number
          description: Upper bound of this award tier
          example: 200
        value:
          type: number
          description: Award value of this award tier
          example: 150
    RankedTier:
      type: object
      properties:
        entityType:
          type: string
          example: 'HOUSEHOLD'
          maxLength: 15
          description: Indicates level at which the promotion rule is applied. “ACCOUNT” or “HOUSEHOLD”.
        entityId:
          type: string
          format: uuid
          example: 'ad1e21a7-4c1c-4812-ae47-d2c4fae7c5a8'
          maxLength: 50
          description: Unique identifier for the rules entity type - “ACCOUNT” or “HOUSEHOLD”.
        ruleId:
          type: string
          format: uuid
          example: 'da06a951-0237-4f32-affb-16502ae7dc9a'
          maxLength: 50
          description: Rule Id is a unique identifier for the promotion rule.
        ruleValue:
          type: integer
          example: 4
          maxLength: 15
          description: The account’s progress towards a rule threshold. A threshold could be the cumulative spend or count of transactions made.
          format: int64
        code:
          type: string
          description: Award tier code
          example: code1
        fromValue:
          type: number
          description: Lower bound of this award tier
          example: 100
        toValue:
          type: number
          description: Upper bound of this award tier
          example: 200
        awardRate:
          type: number
          description: If awardRate is whole number(no decimal) then value should be interpreted as percent otherwise awardRate is the amount awarded for that tier
          example: 5
        minAmount:
          type: number
          description: Spend amount required to hit tier or transaction count required to hit tier
          example: 700
    PromotionCap:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Specifies the cap amount
          example: 1000.00
        enabled:
          type: boolean
          description: Indicates if capping is enabled for the promotion
          example: TRUE
        id:
          type: string
          format: uuid
          description: Unique cap identifier
          example: "59266873-45c9-418f-a9dc-1b0f00d0bc16"
        level:
          type: string
          description: |
            Specifies the level at which cap is applied.
            - A - Account level
            - P - Household level
            - T - Transaction level
          example: "A"
        period:
          type: string
          description: |
            Specifies the period for which cap is applied.
            D - Daily
            M - Monthly
            Q - Quarterly
            Y - Yearly
            L - Lifetime
          example: "M"
        periodFrequency:
          type: integer
          description: Specifies the frequency of cap period for reset.
          example: 2
        periodStartDateTime:
          type: string
          description: Specifies the start date of cap period reset
          example: "2024-06-15T00:00:00Z"
    audiences:
      type: object
      properties:
        code:
          type: string
          description: Code for the associated audience
          example: "ABFILTERTest202"
        entityType:
          type: string
          description: It indicates at which level the audience is associated - either 'A' for Account or 'H' for Household
          example: "H"
        targetType:
          type: string
          description: It specify the target type of the audience either Rules or External
          example: "RULES"
        id:
          type: string
          format: uuid
          description: Unique identifier for an audience
          example: "af1dca8b-84f9-46e5-8bc7-4ae65ca03c69"
        operator:
          type: string
          description: It indicates whether the promotion includes or excludes the audience
          example: "includes"
    PagedResponseOfAccountSearch:
      type: object
      properties:
        count:
          type: integer
          description: The number of items that are in this offset batch
          format: int32
          example: 1
        offset:
          type: integer
          description: The number of items to offset the start of the list from
          format: int32
          example: 0
        limit:
          type: integer
          description: The number of items in the list to be limited to
          format: int32
          example: 25
        total:
          type: integer
          description: The total number of items that are in the entire collection
          format: int64
          example: 1
        items:
          minItems: 0
          type: array
          description: The list of Accounts that are in the entire collection
          items:
            $ref: '#/components/schemas/AccountSearchItem'
    AudienceUpdate:
      type: object
      properties:
        beginDateTime:
          description: Begin Date Time
          example: 2025-01-11T02:00:00Z
          type: string
        endDateTime:
          description: End Date Time
          example: 2025-01-18T02:00:00Z
          type: string
    Event:
      type: object
      properties:
        entityId:
          type: string
          description: Unique reference id for account or household
          example: ACCT_REF_ID
        entityType:
          type: string
          description: Type of entity, ACCOUNT or HOUSEHOLD
          example: ACCOUNT
        eventDateTime:
          type: string
          description: Date and time of the event
          example: 12-Nov-2024 01:33:00 AM
        eventType:
          type: string
          description: Event type, e\.g\. TARGETED, REDEMPTION
          example: TARGETED
        eventClass:
          type: string
          description: Event class, e\.g\. email_added
          example: email_added
        eventValue:
          type: string
          description: Value associated with the event
          example: abc@gmail.com
        eventTotal:
          type: integer
          description: Optional field used in redemption events or other scenarios
          example: 525
          nullable: true
        eventDetails:
          type: object
          additionalProperties:
            type: string
          description: Map of additional event details
          example:
            key1: value1
            key2: value2
        source:
          type: string
          description: Source of the event
          example: event
      required:
        - entityId
        - entityType
        - eventDateTime
        - eventType
        - eventClass
        - eventValue
        - eventDetails
        - source
    Audience:
      type: object
      properties:
        id:
          type: string
          example: 1127d5a6-ed44-4148-aa08-da168016cd56
          description: It is the unique reference id for audience records
        code:
          type: string
          example: CODE_NY
          description: It is the audience code
        beginDateTime:
          type: string
          example: 2025-01-11T02:00:00Z
          description: Fetch audiences eligible on or after this date
        endDateTime:
          type: string
          example: 2025-01-18T02:00:00Z
          description: Fetch audiences eligible on or before this date
        entityType:
          type: string
          example: A
          description: Indicates at which level the audience record is associated - either 'A' for Account or 'H' for Household
        entityId:
          type: string
          example: 12f5930a-ab8b-4a25-9774-6ba49a9bfd8c
          description: Entity ID is the unique id for the entity type account or household
    PagedResponseAudience:
      type: object
      properties:
        count:
          description: The number of items that are in this offset batch
          example: 1
          format: int32
          type: integer
        offset:
          description: The number of items to offset the start of the list from
          example: 0
          format: int32
          type: integer
        limit:
          description: The number of items in the list to be limited to
          example: 25
          format: int32
          type: integer
        total:
          description: The total number of items that are in the entire collection
          example: 1
          format: int64
          type: integer
        items:
          type: array
          description: List of Audience Data
          items:
            $ref: '#/components/schemas/Audience'
  examples:
    SearchAccountBadRequest:
      value:
        Errors:
          Error:
            - Source: Loyalty-Enrollment
              ReasonCode: MISSING_REQUIRED_FIELD_ACCOUNT_NUMBER
              Description: Account Number is required.
              Recoverable: false
              Details: null
    Unauthorized:
      value:
        Errors:
          Error:
            - Source: Loyalty-Enrollment
              ReasonCode: AUTHORIZATION_ERROR
              Description: Client could not be authorized.
              Recoverable: true
              Details: null
    Forbidden:
      value:
        Errors:
          Error:
            - Source: Loyalty-Enrollment
              ReasonCode: FORBIDDEN
              Description: Client does not have permission.
              Recoverable: true
              Details: null
    PromotionsUnauthorized:
      value:
        Errors:
          Error:
            - Source: POINTS_ENGINE_CONSUMER_DATA
              ReasonCode: AUTHORIZATION_ERROR
              Description: Unable to authorize user due to error in authentication.
              Recoverable: false
              Details: "null"
    PromotionsForbidden:
      value:
        Errors:
          Error:
            - Source: POINTS_ENGINE_CONSUMER_DATA
              ReasonCode: FORBIDDEN
              Description: User does not have required permissions to perform this operation.
              Recoverable: false
              Details: "null"
    PromotionsBadRequest:
      value:
        Errors:
          Error:
            - Source: POINTS_ENGINE_CONSUMER_DATA
              ReasonCode: INVALID_FIELD_PROMOTION_ID
              Description: Invalid promotionId
              Recoverable: false
              Details: "null"
    AudienceUnauthorized:
      value:
        Errors:
          Error:
            - Source: POINTS_ENGINE_CONSUMER_DATA
              ReasonCode: AUTHORIZATION_ERROR
              Description: Unable to authorize user due to error in authentication.
              Recoverable: false
              Details: null
    AudienceForbidden:
      value:
        Errors:
          Error:
            - Source: POINTS_ENGINE_CONSUMER_DATA
              ReasonCode: FORBIDDEN
              Description: User does not have required permissions to perform this operation.
              Recoverable: false
              Details: null
    AudienceBadRequest:
      value:
        Errors:
          Error:
            - Source: POINTS_ENGINE_CONSUMER_DATA
              ReasonCode: INVALID_BEGIN_DATE_TIME_FORMAT
              Description: Invalid Begin Date Time Format
              Recoverable: false
              Details: null
    EventBadRequest:
      value:
        Errors:
          Error:
            - Source: REWARDS_BANK
              ReasonCode: ENTITY_ID_REQUIRED
              Description: EntityId is required
              Recoverable: false
              Details: null
    EventForbidden:
      value:
        Errors:
          Error:
            - Source: REWARDS_BANK
              ReasonCode: FORBIDDEN
              Description: User does not have required permissions to perform this operation.
              Recoverable: false
              Details: null
    AudienceIdNotFound:
      value:
        Errors:
          Error:
            - Source: POINTS_ENGINE_CONSUMER_DATA
              ReasonCode: INVALID_FIELD_AUDIENCE_ID
              Description: Invalid audienceId
              Recoverable: false
              Details: null
